body {
  font-family: Garamond, Georgia, Times, "Times New Roman", serif;
  padding: 35px 60px;
}
section {
  margin: 50px 0;
}
p {
  width: 550px;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #999;
}
th, td {
  padding: 10px;
}
th {
  font-style: bold;
}
td {
  font-family: Courier, "Courier New", monospace;
}
td.na {
  font-family: Garamond, Georgia, Times, "Times New Roman", serif;
  color: #888;
  background: #efefef;
}