body {
  font-family: Garamond, Georgia, Times, "Times New Roman", serif;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #999;
}
th, td {
  padding: 10px;
}
th {
  font-style: bold;
}
td {
  font-family: Courier, "Courier New", monospace;
}
td.na {
  font-family: Garamond, Georgia, Times, "Times New Roman", serif;
  color: #888;
  background: #efefef;
}